<h2>Edit hexagram</h2>

<%= render "form.html", changeset: @changeset,
                        action: hexagram_path(@conn, :update, @hexagram) %>

<%= link "Back", to: hexagram_path(@conn, :index) %>
